.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .card {
    min-width: 100%; /* Adjust this to show more cards at once */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 24px;
    cursor: pointer;
    background: transparent;
    color: red;
    background-color: rgba(192, 104, 21, 0.719);
    border-radius: 50%;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  